name: Library Snapshot

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Load secrets from OP
        id: load-secrets
        uses: 1password/load-secrets-action@v3.0.0
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          ARABOT_PAT_TRIGGER_WORKFLOW: op://kv_gov-ui-kit_infra/GITHUB_PAT/credential
          NPM_TOKEN: op://kv_gov-ui-kit_infra/NPM_TOKEN/credential
      - name: Checkout actions
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 1
          sparse-checkout: |
            .github/actions/setup
      - name: Setup
        uses: ./.github/actions/setup
        with:
          # Checkout full history to correclty check changeset status
          fetch-depth: 0
          token: ${{ steps.load-secrets.outputs.ARABOT_PAT_TRIGGER_WORKFLOW }}
      - name: Check changeset
        run: pnpm changeset status --since origin/main
      - name: Build library
        run: pnpm build
      - name: Update version
        run: pnpm changeset version --snapshot
        env:
          GITHUB_TOKEN: ${{ steps.load-secrets.outputs.ARABOT_PAT_TRIGGER_WORKFLOW }}
      - name: Get package version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
      - name: Publish snapshot
        run: |
          pnpm config set npmAuthToken ${{ steps.load-secrets.outputs.NPM_TOKEN }}
          pnpm publish --access public --tag snapshot-${{ github.run_id }} --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ steps.load-secrets.outputs.NPM_TOKEN }}
      - name: Print snapshot version
        run: echo "Snapshot release - ${{ steps.package-version.outputs.current-version }} published with tag 'snapshot-${{ github.run_id }}'"
