name: Library Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Load secrets from OP
        id: load-secrets
        uses: 1password/load-secrets-action@v3.0.0
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          NPM_TOKEN: op://kv_gov-ui-kit_infra/NPM_TOKEN/credential
      - name: Setup
        uses: aragon/gov-ui-kit/.github/actions/setup@main
        with:
          # Make sure to checkout the main branch with the bumped version on the package.json file as Github does the
          # checkout of the commit SHA that triggered the publish workflow by default
          ref: main
      - name: Build library
        run: yarn build
      - name: Publish library
        run: |
          yarn config set npmAuthToken ${{ steps.load-secrets.outputs.NPM_TOKEN }}
          yarn npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ steps.load-secrets.outputs.NPM_TOKEN }}
